<h2>All Recipes</h2>

<table class="table">

  <tr>
    <th>Name</th>
    <th>Skills</th>
    <th>URL</th>
    <th>Photo</th>
  </tr>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.skills.map { |skill| skill.name }.join(", ") %></td>
      <td><a href="<%= recipe.url %>"><%= recipe.url.truncate(50) %></a></td>
      <td>
        <%= image_tag recipe.photo.url(:tile), class: "photo-preview" %> <br>
        <%= link_to "Upload photo", upload_photo_path(recipe) %>
      </td>
    </tr>
  <% end %>

</table>
